@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

.footer-container{
    padding-bottom: 20px;
}
.logofooter{
    padding-top: 0px;
}
.brand-logo-footer{
    height: 100px !important;
    width: 100px !important;
}
.footer-intro{
    padding-top:4px;
    padding-bottom: 12px;
    border-bottom: 1px solid;
}
.address-label{
    font-weight: 700;
    color: #ebac38;
}
.footer-container ul,li{
    padding:0;
    margin:0;
}
.footer-container li{
    list-style-type:none;
}


footer { background-color:#0c1a1e; min-height:350px; font-family: 'Open Sans', sans-serif; }
.footer-col { margin-top:20px;}
.logofooter { margin-bottom:10px; font-size:25px; color:#fff; font-weight:700;}

.footer-col p { color:#fff; font-size:12px; font-family: 'Open Sans', sans-serif; margin-bottom:15px;}
.footer-col p i { width:20px; color:#999;}

.footer-ul { list-style-type:none;  padding-left:0; margin-left:2px;}
.footer-ul li { line-height:29px; font-size:15px;}
.footer-ul li a { color:#a0a3a4; transition: color 0.2s linear 0s, background 0.2s linear 0s; text-decoration: none; }
.footer-ul i { margin-right:10px;}
.footer-ul li a:hover {transition: color 0.2s linear 0s, background 0.2s linear 0s; color:#ff670f; }

 .copyright { min-height:40px; background-color:#000000; margin-top: 15px;}
 .copyright p { text-align:left; color:#FFF; padding:10px 0; margin-bottom:0;}
 .heading7 { font-size:21px; font-weight:700; color:#d9d6d6; margin-bottom:22px;}
 .post p { font-size:12px; color:#FFF; line-height:20px;}
 .post p span { display:block; color:#8f8f8f;}
 .bottom_ul { list-style-type:none; float:right; margin-bottom:0;}
 .bottom_ul li { float:left; line-height:40px;}
 .bottom_ul li:after { content:"/"; color:#FFF; margin-right:8px; margin-left:8px;}
 .bottom_ul li a { color:#FFF;  font-size:12px;}
.social-icon {
    width: 30px;
    height: 30px;
    font-size: 15px;
    background-color: blue;
    color: #fff;
    text-align: center;
    margin-right: 10px;
    padding-top: 7px;
    border-radius: 50%;
}
.footer-social li{
     float:left;
}
.linked-in{
     background-color:#007bb6;
}
.facebook{
     background-color:#3b5998;
}
.twitter{
    background-color:#1da1f2;
}
.google{
    background-color:#f63e28;
}

.footer-social{
    display: flex;
}
.footer-social .social-icon{
    color: white;
    width:30px;
}
.footer-a-tag{
    text-decoration: none;
    color: #a0a3a4;
    transition: color 0.2s linear 0s, background 0.2s linear 0s;
    font-size: 15px;
}
@media(min-width:768px){
    .logo-contact-info{
        padding-right: 25px
    }
}

 @media(max-width:767.98px){
    .footer-col {text-align: center;}
    .footer-social{
        justify-content: center;
    }
    
    .heading7{
        font-size: 16px;
    }
    .addressfooter, .footer-ul, .footer-col .post{
        padding-bottom:12px !important;
        border-bottom:1px solid white;
    }
 }