.navbar-container-style{
    background-color: black;
    border-bottom: 2px solid #2f2608;
}
.navbar-custom-style{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
.navbar-nav-collapse{
    text-align: left;
}
.offcanvas-body-style{
    align-items: center;
}

.offcanvas-header{
    padding-bottom: 5px;
    padding-top: 5px;
    border-bottom: 1px solid grey;
}
.offcanvas-body{
    padding-top: 0px;
}
a.nav-link{
    color: white;
}
.nav-link:focus, .nav-link:hover {
    color: wheat !important;
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: orange !important;
}

.search-form-container{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: black;
}
.search-form{
    display: flex;
}
.search-bar-page-load{
    width: 100%;
}
[search-bar-hide="on"]{
    display: none !important;
}
.search-input-box, .item-filter-select{
    background-color: #fffae3;
}

@media(max-width: 767.98px){
    .offcanvas{
        width: 50% !important;
    }
}
@media(max-width: 483.98px){
    .offcanvas.offcanvas-end{
        width: 65% !important;
    }
}
@media(max-width: 379.98px){
    .offcanvas.offcanvas-end{
        width: 75% !important;
    }
}