.navbar-container-style{
    background-color: #262626;
    border-bottom: 2px solid #262626;
    border-top: 2px solid #262626;
    justify-content: center;
}
.navbar-brand{
    padding: 5px 0px 5px 0px;
}
.navbar-brand img{
    border-radius: 8px;
    width: 48px;
    height: 48px;
}
.brand-name-logo{
    width:170px;
    padding-right:25px;
    padding-top: 1px;
}
.brand-name-logo-toggle{
    width:142px;
    /* padding-right:25px; */
    margin-left: -10px;
}
.navbar-custom-style{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
.navbar-nav-collapse{
    text-align: left;
}
.offcanvas-body-style{
    align-items: center;
}
.navbar-toggler{
   border: none;
   padding: 0px;
}
.navbar-toggler:focus{
    box-shadow: none !important;
}
.profile-dropdown::after{
    content: none;
}
.btn-close-white{
    margin-top: -1px;
}
.profile-dropdown{
    background-color: transparent;
    border: none;
}
.profile-dropdown.show, .profile-dropdown:hover{
    background-color: transparent !important;
    border: none;
}
.profile-dropdown:active{
    opacity: .5;
}
.custom-dropdown-menu-style{
    width: 200px;
}
.dropdown-item-custom-style{
    display: block;
    width: 100%;
    padding: var(--bs-dropdown-item-padding-y) var(--bs-dropdown-item-padding-x);
    clear: both;
    font-weight: 400;
    color: var(--bs-dropdown-link-color);
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}
[dropdown-item-active="true"]{
    color: var(--bs-dropdown-link-active-color);
    text-decoration: none;
    background-color: var(--bs-dropdown-link-active-bg);
}


.offcanvas-header{
    padding-bottom: 5px;
    padding-top: 5px;
    border-bottom: 1px solid grey;
}
.offcanvas-body{
    padding-top: 0px;
}
a.nav-link{
    color: white;
}
.nav-link:focus, .nav-link:hover {
    color: wheat !important;
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: orange !important;
}
.dark-mode{
    display: flex;
    align-items: center;
    color: white;
    background-color: transparent;
    border-radius: 24px;
    padding: 0px 7px;
    border: 2px solid rgb(0, 0, 0);
}
.dark-mode[value="dark-mode-off"] {
    background-image: linear-gradient(271deg, black, #3a2b17, #a87230);
}
.dark-mode[value="dark-mode-on"] {
    background-image: linear-gradient(87deg, black, #3a2b17, #a87230);
}
.dark-mode span{
    padding-left: 7px;
    color: wheat;
}
.search-pos-fixed{
    position: fixed;
    z-index: 11;
    width: 100%;
    background-image: linear-gradient(to right, #753A0D 0%, #000000 50%, #005842 100%);
    margin-top: -57px;
}
.search-form-container{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.6);
}
.search-form{
    display: flex;
}
.search-bar-page-load{
    width: 100%;
}
.show-results-text{
    background-color: black;
    color: white;
    text-align: left;
}
[search-bar-hide="on"]{
    display: none !important;
}


/* login modal styles */
/* The Modal (background) */
.login-modal{
    display: none; 
    position: fixed;
    z-index: 1031;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.6);
}
.modal-dialog{
    padding-top: 100px; /* Location of the box */
    padding: 100px 15px;
}
  
  /* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: none;
    width: 90%;
    max-width: 1000px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    border-radius: 16px 16px 16px 16px;
}
  
/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}
  
@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
  
  /* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
  
.modal-header {
    padding: 10px 12px;
    /* background-color: #5cb85c; */
    /* background-image: linear-gradient(to right, #ffbc87 0%, #f3f45d 50%, #2a8e75 100%);
    color: rgb(0, 0, 0); */
    border-radius: 16px 16px 0px 0px;
    background-image: linear-gradient(to left, #ff6c75, #8C3FFF);
    color: white;
    background-size: cover;
    background-position: center;
    font-size: 26px;
    display: flex;
    justify-content: space-between;
}
.modal-header button{
    color: white !important;
    font-weight: 600;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.4);
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
  
.modal-body {padding: 15px 12px 30px 12px}
  
.modal-footer {
    padding: 10px 16px;
    /* background-image: linear-gradient(to right, #ffa159 0%, #f3f45d 50%, #2a8e75 100%);
    color: rgb(0, 0, 0); */
    background-image: linear-gradient(to left, #ff6c75, #8C3FFF);
    color: white;
    font-weight: 700;
    border-radius: 0px 0px 15px 15px;
}
.login-modal[show-modal="show"]{
    display: block;
}
.login-modal[show-modal="hide"]{
    display: none;
}

.old-user-form{
    width: 100%;
    padding: 40px 40px 10px 40px;
}
[show-otp-box="show"]{
    display: flex;
    flex-direction: column;
}
[show-otp-box="hide"]{
    display: none;
}
[new-user-show-otp-box="show"]{
    display: flex;
}
[new-user-show-otp-box="hide"]{
    display: none;
}
.otp-input-box{
    display: flex;
    margin-bottom: 2px;
    justify-content: left;
    gap: 20px;
}
.otp-input-box input{
    height: 45px;
    width: 50px;
    text-align: center;
}
.email-login-input:focus{
    outline: none;
    box-shadow: none;
}
.email-login-input{
    border-radius: 6px 0px 0px 6px;
}
.get-otp-btn{
    padding: 5px;
    width: 100px;
    border-radius: 0px 6px 6px 0px;
    background-image: linear-gradient(to right, #5C72FF, #8C3FFF);
    color: white;
    font-weight: 500;
    font-size: 14px;
}
.verify-otp-btn, .new-user-form-submit{
    background-image: linear-gradient(to right, #5C72FF, #8C3FFF);
}
.login-err-mssg{
    color: red;
    margin-top: 15px;
    font-weight: 600;
    text-align: center;
    font-size: 11px;
    background: beige;
    padding: 5px;
}
.new-user-form .form-label{
    float: left;
}
.agree-check-form{
    display: flex;
    justify-content: center;
    gap: 8px;
}
.new-user-reg-btn, .old-user-login-btn{
    background-color: rgba(0, 0, 0, 0.3);
    border: none;
}
[slide-display="show"]{
    display: block;
}

[slide-display="hide"]{
    display: none;
}

.new-form-field{
    margin-bottom: 10px;
}
.new-user-get-otp-btn{
    padding: 5px;
    width: 80px;
    border-radius: 0px 6px 6px 0px;
    background-image: linear-gradient(to right, #5C72FF, #8C3FFF);
    color: white;
    font-weight: 500;
    font-size: 14px;
    height: 38px;
    position: absolute;
    top: 32px;
    right: 8px;
}
[form-valid="invalid"]{
    border: 1px solid #ff3c07;
}
[form-valid="valid"]{
    border: 1px solid green;
}
[form-valid="optional"]{
    border: var(--bs-border-width) solid var(--bs-border-color);
}
.invalid-feedback{
    display: block;
    text-align: left;
    margin-top: 0px;
}
.email-id-valid-feedback{
    display: block;
    text-align: left;
    margin-top: 0px;
    font-weight: 500;
    color: #009637;
}
[select-color="novalue"]{
    color: rgb(96 98 101);
}
[select-color="withvalue"]{
    color: var(--bs-body-color);
}
.dp-label{
    margin-bottom: 2px;
}
.dp-image-input-section{
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 30px;
}
.dp-img-select-btn{
    border: none;
    display: block;
    position: relative;
    background: transparent;
}
.choose-profile-images{
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}
.dp-img-select-btn:hover, .dp-img-select-btn:focus{
    border: 2px solid rgb(186, 186, 186);
}

[data-active="true"]{
    border: 2px solid rgb(186, 186, 186);
}

.check-term-condition{
    margin-top: 40px;
}

[error-mssg-style="error"]{
    color: rgb(171, 59, 11);
}
[error-mssg-style="success"]{
    color: rgb(111, 144, 47);
}
[resend-otp-text="show"]{
    display: block;
}
[resend-otp-text="hide"]{
    display: none;
}
[new-user-resend-otp-text="show"]{
    display: block;
}
[new-user-resend-otp-text="hide"]{
    display: none;
}
@media(max-width:1199.98px){
    .choose-profile-images{
        gap: 2px;
    }
}
@media(max-width:1049.98px){
    .last-two-fields{
        width: 100%;
    }
    .choose-profile-images{
        gap: 25px;
    }
}
@media(min-width:768px){
    .modal-body{
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    .brand-name-logo{
        display: none !important;
    }
}
@media(max-width:991.98px){
    .modal-content{
        width:85%;
    }
}
@media(max-width: 767.98px){
    .offcanvas{
        width: 80% !important;
    }
    .custom-dropdown-menu-style[data-bs-popper] {
        right: auto;
        left: 0;
    }    
    .modal-content{
        width:80%;
    }
    .old-user-form{
        width: 100%;
        padding:30px 5px 10px 5px;
    }
    .choose-profile-images{
        gap: 20px;
    }
}
@media(max-width:649.98px){
    .modal-content{
        width:90%;
    }
    .offcanvas{
        width: 65% !important;
    }
    .choose-profile-images{
        gap: 15px;
    }
}
@media(max-width: 483.98px){
    .offcanvas.offcanvas-end{
        width: 75% !important;
    }
    .choose-profile-images{
        gap: 10px;
    }
    .modal-content{
        width:100%;
    }
}
@media(max-width: 379.98px){
    .offcanvas.offcanvas-end{
        width: 90% !important;
    }
    .new-user-reg-btn, .old-user-login-btn{
        padding-left: 7px;
        padding-right: 7px;
        font-size: 16px;
    }
    .modal-footer-p{
        font-size: 14px;
    }
}