.main-content{
    /* margin-top: 10px; */
}
.carousel-item-style{
    max-height: 500px;
}
.carousel-item-img{
    min-height: 180px;
    max-height: 420px;
    object-fit: cover;
}
.carousel-indicators{
    bottom: 0.5px !important;
}
.carousel-indicators [data-bs-target]{
    height: 5px;
    border: 1px solid black;
}
.brand-title{
    border-bottom: 4px solid #d4e299;
    padding-bottom: 4px;
    display: flex;
    justify-content: center;
    font-weight: 600;
}
.brand-title img{
    padding:0px 6px 2px 6px;
}
.welcome-txt{
    margin-bottom: 0px;
}
.highlight-txt{
    color: red;
}
.gradient-bg{
    color: white;
    /* background-image: linear-gradient(to right, #B42727 0%, #000000 51%, #007545 100%); */
    background-image: linear-gradient(to right, #753A0D 0%, #000000 50%, #005842 100%);
    background-size: cover;
    background-position: center;
    border-radius: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 26px;
}
.no-border-radius{
    border-radius: 0px !important;
}
.img-w-100{
    width: 100%;
}

.food-category-section{
    display: flex;
    flex-wrap: nowrap;
    gap: 80px;
    justify-content:center;
}

.border-rounded{
    border-radius: 50%;
}

.food-cat-card-img{
    max-width: 150px;
    max-height: 150px;
}

.food-card-section{
    display: flex;
    gap: 40px;
    justify-content: center;
}

.card-img-top{
    max-height: 500px;
    max-width: 500px;
}

.custom-card-width{
    max-width: 300px;
}
.card-title{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 40px;
    color: #000000;
}
.card-title p{
    font-size: 14px !important;
    color: orange;
}
.price-order{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    color: green;
    font-weight: 700;
    font-size: 14px;
    align-items: center;
}
.price-order p{
    margin-bottom: 2px;
}
.card-body-style{
    padding: 10px !important;
    text-align: left;
}
.pos-bottom{
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    padding: 10px;
}
.see-more-section{
    margin-top: 10px;
}
.see-more-section a{
    background-color: darkorange;
    border: 2px solid;
    font-weight: 600;
}
.dark-mode{
    display: flex;
    align-items: center;
    color: white;
    background-color: transparent;
    border-radius: 24px;
    padding: 0px 15px;
    border: 2px solid rgb(0, 0, 0);
}
.dark-mode[value="dark-mode-off"] {
    background-image: linear-gradient(271deg, black, #3a2b17, #a87230);
}
.dark-mode[value="dark-mode-on"] {
    background-image: linear-gradient(87deg, black, #3a2b17, #a87230);
}
.dark-mode span{
    padding-left: 10px;
    color: wheat;
}

.fav-cat-banner-section{
    /* background: linear-gradient(271deg, #ff5a5a, #ee6d2f, #570df6); */
    /* background: linear-gradient(271deg, #9eb7ff, #c26575); */
    background-image: url(https://img.perceptpixel.com/pykhlszs/banner-one.jpg);
    margin-top: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 2px solid black;
    min-height: 131px;
    color: #ffffff;
    /* padding: 20px; */
    border-radius: 10px 10px 80px 80px;
    font-weight: 600;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.fav-cat-bg-opacity{
    display:flex;
    justify-content:space-around;
    align-items:center;
    background-color:rgb(0,0,0); 
    background-color:rgba(0,0,0, 0.4); 
    width:100%;
    border-radius: 10px 10px 80px 80px;
    padding: 20px;
}
.carousel-control-btn-stye{
    position: relative;
    width: auto;
    opacity: 1.5;
    font-weight: 600;
}
.carousel-control-btn-stye .carousel-control-prev-icon{
    border-right: 2px solid red;
}
.carousel-control-btn-stye .carousel-control-next-icon{
    border-left: 2px solid red;
}
.fav-cat-item-list{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 40px;
    padding: 0px 20px;
}
.fav-cat-item{
    background-color: white;
    border: 2px solid;
    color: #e9ffda;
    border-radius: 10%;
}
.fav-cat-item-list img{
    border-radius: 10% 10% 0% 0%;
}
.food-cat-name{
    font-size: 18px;
    margin-top: .5rem;
}
.carousel-indicators-style{
    margin-top: 20px;
    position: relative;
}

@media(max-width: 1499.98px){
    .food-card-section{
        gap: 20px;
    }
}
@media(max-width: 1299.98px){
    .food-card-section{
        gap: 12px;
    }
}
@media(max-width:767.98px){
    .card-title{
        font-size: 15px;
    }
    .card-title span{
        font-size: 13px !important;
    }
    .price-order{
        font-size: 13px;
    }
    .fav-cat-banner-section{
        justify-content: space-between;
    }
    .fav-cat-item-list{
        gap: 20px;
    }
}
@media(max-width:623.98px){
    .food-card-section{
        gap: 10px;
    }
    .food-card-section{
        flex-wrap: wrap !important;
    }
    .custom-card-width{
        flex: 40% !important;
    }
    .fav-cat-item-list{
        flex-wrap: wrap;
    }
}
@media (max-width:499.98px) {
    .food-category-section{
        gap: 10px;
        justify-content: space-around;
    }
    .gradient-bg{
        font-size: 22px;
    }
}
@media(max-width:423.98px){
    .card-title{
        font-size: 14px;
    }
    .card-title span{
        font-size: 12px !important;
    }
    .price-order{
        font-size: 12px;
    }
}