.custom-margin-top{
    margin-top: 61px;
    margin-bottom: 20px;
    padding-top: 20px;
}
.cart-page-container{
    min-height: 750px;
}
.cart-item-billing-section{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 15px;
    margin-bottom: 30px;
}
.added-item-txt{
    text-align: center;
    width: 100%;
}
.cart-item-section{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    flex: 3;
    border: 2px solid #ebebeb;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 24px 20px -15px #7a3e864f;
    max-height: 600px;
    overflow-y: hidden;
    overflow: scroll;
}
.added-cart-item{
    border: 1px solid rgb(214, 214, 214);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content:left;
    width: 100%;
    /* max-width: 500px; */
}
.added-item-img img{
    height: auto;
    max-width: 140px;
    border-radius: 8px 0px 0px 8px;
    min-height: 145px;
    object-fit: cover;
}
.item-body-description{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    font-size: 14px;
}
.item-body-description h5{
    text-align:left;
    font-size: 16px !important;
}
.quantity-btn-section{
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}
.increase-decrease-btn{
    display: flex;
    gap: 2px;
    padding-left: 5px;
    align-items: center;
}
.increase-decrease-btn button{
    width: 24px !important;
    border-radius: 4px !important;
}
.increase-decrease-btn span{
    padding: 2px 7px;
    /* border: 2px solid #d5d5d5; */
}
.cart-item-btn-section{
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.cart-item-btn-section button{
    height: 30px;
    border-radius: 8px;
    border: 1px solid #fff1d9;
    margin-bottom: 0px;
    background-image: linear-gradient(to right, #5C72FF, #8C3FFF);
    color: white;
    font-weight: 500;
}
.cart-item-btn-section p{
    margin-bottom: 4px;
    text-align: left;
}

.billing-details-secton{
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    background-color: #f7f7f7;
    border-radius: 8px;
    flex: 2 1;
    justify-content: center;
    box-shadow: 0 24px 20px -15px #7a3e864f;
    border: 1px solid #e1e1e1;
}
.total-item-count{
    display: flex;
    justify-content: space-between;
}
hr{
    margin: 0.5rem 0;
}
.order-now-btn{
    width: 100%;
    padding: 12px;
    background-color: #e1f2d8;
    border-radius: 8px;
}
.order-now-btn button{
    width: 100%;
    border-radius: 8px;
    background-color: #1a7aff;
    border: none;
    color: white;
    font-weight: 600;
    padding: 10px;
}
@media(max-width:991.98px){
    .cart-item-btn-section{
        flex-direction: column;
        align-items:normal;
    }
    .item-body-description h5{
        font-size: 14px !important;
    }
    .cart-item-billing-section {
        gap: 10px;
    }
}
@media(max-width:767.98px){
    .cart-item-billing-section{
        flex-direction:column;
    }
    .cart-item-billing-section {
        gap: 25px;
    }
}
@media(max-width:483.98px){
    .cart-item-section {
        border: none !important;
        padding: 10px 0px !important;
    }
    .added-item-img img{
        max-width: 130px;
    }
}