.custom-margin-top{
    margin-top: 61px;
    margin-bottom: 20px;
    padding-top: 20px;
}
.cart-page-container{
    min-height: 750px;
}
.cart-item-billing-section{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 15px;
    margin-bottom: 30px;
}
.added-item-txt{
    text-align: center;
    width: 100%;
}
.cart-item-section{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    flex: 3;
    border: 2px solid #ebebeb;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 24px 20px -15px #7a3e864f;
    max-height: 600px;
    overflow-y: scroll;
}
.added-cart-item{
    border: 1px solid rgb(214, 214, 214);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content:left;
    width: 100%;
    /* max-width: 500px; */
}
.added-item-img img{
    height: auto;
    max-width: 140px;
    border-radius: 8px 0px 0px 8px;
    min-height: 145px;
    object-fit: cover;
}
.item-body-description{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    font-size: 14px;
}
.item-body-description h5{
    text-align:left;
    font-size: 16px !important;
}
.quantity-btn-section{
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}
.increase-decrease-btn{
    display: flex;
    gap: 2px;
    padding-left: 5px;
    align-items: center;
}
.increase-decrease-btn button{
    width: 24px !important;
    border-radius: 4px !important;
}
.increase-decrease-btn span{
    padding: 2px 7px;
    /* border: 2px solid #d5d5d5; */
}
.cart-item-btn-section{
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.cart-item-btn-section button{
    height: 30px;
    border-radius: 8px;
    border: 1px solid #fff1d9;
    margin-bottom: 0px;
    background-image: linear-gradient(to right, #5C72FF, #8C3FFF);
    color: white;
    font-weight: 500;
}
.cart-item-btn-section p{
    margin-bottom: 4px;
    text-align: left;
}

.billing-section{
    position: relative;
}
.billing-details-section{
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #f7f7f7;
    border-radius: 8px;
    justify-content: start;
    box-shadow: 0 24px 20px -15px #7a3e864f;
    border: 1px solid #e1e1e1;
    gap: 15px;
    max-height: 600px;
    overflow-y: scroll;
}
[show-section="show"]{
    display: block;
}
[show-section="hide"]{
    display: none;
}

.order-details-sub-heading{
    text-align: left;
    padding: 6px 10px;
    background-color: #494949;
    color: #ffffff;
    border-radius: 5px 5px 0px 0px;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
}
.delivery-address-section, .item-amount-details{
    background-color: white;
    border-radius: 8px;
    padding: 10px;
    border: 1px solid rgb(184, 184, 184);
}
.item-amount-details{
    margin-bottom: 58px;
}
.delivery-address-form label{
    float: left;
    margin-bottom: 3px;
    font-size: 14px;
}
.edit-address-btn{
    text-align: right;
    /* background-image: linear-gradient(to right, #ffd95c, #f7fa5b); */
    background-color: white;
    color: rgb(0, 0, 0);
    font-weight: 500;
    font-size: 14px;
    padding: 0px 8px;
    border-radius: 4px;
    border: none;
    float: right;
}
.edit-address-btn-section{
    padding-top: 10px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    gap: 10px;
    padding-bottom: 6px;
}
.edit-address-btn-section button{
    width: 75px;
    height: 28px;
    padding-top: 0px !important;
    border-radius: 5px;
}
.address-select{
        padding: 4px 36px 4px 10px;
        font-size: 14px;
        text-align: left;
}
.delivery-contact-number{
    background-color: white;
    border: 1px solid #b8b8b8;
    border-radius: 7px;
}
.delivery-contact-number h6{
    text-align: left;
    background-color: #494949;
    padding: 6px 10px;
    border-radius: 5px 5px 0px 0px;
    color: white;
}
.del-phone-field{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}
.delivery-time-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px 10px ;
    border-radius: 8px;
    border: 1px solid rgb(184, 184, 184);
}
.delivery-time-txt{
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 6px;
}
.delivery-time-section p, .delivery-time-section h6{
    margin-bottom: 0px;
}
.apply-offer-section{
    background-color: white;
    border-radius: 8px;
    border: 1px solid rgb(184, 184, 184);
}
.offers-check-btn-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: none;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 8px !important;
    color: rgb(0, 0, 0);
}
.offers-check-btn-section h6{
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: left;
    margin-bottom: 2px;
}
.offers-check-button{
    width: 75px;
    border: none;
    border-radius: 4px;
    background-image: linear-gradient(to right, #ff7b7b, #b345ff);
    color: white;
    font-weight: 500;
    margin-bottom: 0px;
}
.offers-lists-section{
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to right, #ffcb99ba, #dfa4ffa6);
    border-radius: 0px 0px 8px 8px;
}
.avail-offer{
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 10px;
    padding: 5px 0px 5px 0px;
    font-size: 12px;
    font-weight: 500;
}
.avail-offer p{
    text-align: left;
    margin-bottom: 0px;
    width: 100%;
}
.avail-offer button{
    width: 56px;
    background-image: linear-gradient(to right, #ff000098, #000000);
    color: white;
    height: 22px;
    padding: 0px;
    border: none;
    font-size: 12px;
}
.avail-offer button:active{
    background-color: rgb(255, 0, 0) !important;
    color: white !important;
}
.avail-offer button:hover{
    background-color: rgb(82, 82, 82);
    color: white;
}
.total-item-count{
    display: flex;
    justify-content: space-between;
}
hr{
    margin: 0.5rem 0;
}
.order-now-btn{
    width: 100%;
    padding: 10px;
    background-color: #c8ffbc;
    border-radius: 0px 0px 8px 8px;
    position: absolute;
    margin-top: -58px;
    border: 1px solid #e1e1e1;
}
.order-now-btn button{
    width: 100%;
    border-radius: 8px;
    background-color: #1a7aff;
    border: none;
    color: white;
    font-weight: 600;
}

[active-slide="true"]{
    display: block;
}
[active-slide="false"]{
    display: none;
}
.slide-transition{
    animation-name: slide-transition;
    animation-duration: .5s;
}
@keyframes slide-transition {
    0%{
        transform: translate(100%, 0%);
    }
}
.address-select::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #ecdeff;
}

.address-select::-webkit-scrollbar
{
	width: 6px;
	background-color: #c340ff;
}

.address-select::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #c340ff;
}

@media(max-width:991.98px){
    .cart-item-btn-section{
        flex-direction: column;
        align-items:normal;
    }
    .item-body-description h5{
        font-size: 14px !important;
    }
    .cart-item-billing-section {
        gap: 10px;
    }
}
@media(min-width:768px){
    .billing-details-section, .cart-item-section{
        min-height: 600px;
    }
}
@media(max-width:767.98px){
    .cart-item-billing-section{
        flex-direction:column;
    }
    .cart-item-billing-section {
        gap: 25px;
    }
}
@media(max-width:483.98px){
    .cart-item-section {
        border: none !important;
        padding: 10px 0px !important;
    }
    .added-item-img img{
        max-width: 130px;
    }
}