.profile-heading-section{
    background-image: url(https://img.perceptpixel.com/pykhlszs/banner-one.jpg);
    width: 100%;
    margin-top: 0px;
    display: flex;
    justify-content: center;
    /* min-height: 60px; */
    align-items: center;
    /* filter: blur(8px); */
    /* -webkit-filter: blur(px); */
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 2px solid black;
}
.dark-opacity{
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    width: 100%;
    padding: 12px 12px 15px 12px;
}
.profile-picture{
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 8px;
    width: 150px;
    height: 150px;
    border: 3px solid #473c23;
}
[show-edit-form="true"]{
    display: block;
}
[show-edit-form="false"]{
    display: none;
}
.profile-quicklinks{
    color: #cfff9e;
    padding: 5px 20px;
    text-decoration: none;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgba(0,0,0,0.4);
    background-image: linear-gradient(to right, #5C72FF, #8C3FFF);
    color: white;
    font-weight: 500;
    width: 150px;
    border-radius: 20px;
    margin: 2px;
}

.profile-page-accordion-item{
    margin-bottom: 20px;
    border: 2px solid #e6e3ff;
}
.profile-page-accordion-item h2 button{
    font-weight: 500;
}
.accordion-item:not(:first-of-type) {
    border-top: 2px solid #e6e3ff;
}

.edit-profile-btn-section{
    text-align: right;
}
.edit-profile-btn{
    text-align: right;
    background-image: linear-gradient(to right, #5C72FF, #8C3FFF);
    color: white;
    font-weight: 500;
    font-size: 14px;
    padding: 0px 8px;
    border-radius: 4px;
    border: none;
}
.update-data-btn{
    background-image: linear-gradient(to right, #5C72FF, #8C3FFF);
    color: white;
    font-weight: 500;
}

.profile-data-row{
    width: 100%;
    box-shadow: 0 24px 20px -15px rgb(122 62 134 / 31%);
    background-color: #f2f2f2;
    margin-bottom: 30px;
    border-radius: 8px;
}
.profile-label-section{
    display: flex;
    justify-content: left;
    gap: 4px;
    padding: 5px 10px;
    background-image: linear-gradient(45deg, #845bfb, #81d1da);
    color: white;
    font-weight: 600;
}
.profile-label-section p{
    margin-bottom: 0px;
    word-wrap: break-word;
}
.profile-data-section{
    width: 100%;
    text-align: left;
    padding: 5px 10px;
    font-weight: 500;
    word-wrap: break-word;
}

@media(min-width:768px) and (max-width:991.98px){
    .fav-item-img img{
        width: 130px;
    }
}
@media(max-width:767.98px){
    .profile-accordion-container{
        --bs-gutter-x: 1.5rem;
        max-width: 100% !important;
        width:100%;
    }
}
@media(max-width:649.98px){
    .profile-quicklinks{
        padding: 5px 15px;
    }
    .profile-picture{
        width: 132px;
        height: 132px;
    }
}

@media(max-width:483.98px){
    .profile-quicklinks{
        padding: 5px 12px;
        font-size: 14px;
        /* width: 120px; */
    }
    .fav-item-img img{
        width: 125px;
    }
}

@media(max-width:379.98px){
    .profile-quicklinks{
        padding: 5px 6px;
        width: 120px;
    }
}