.App {
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  line-height: 1.5;
}

.a-tag-style{
  /* color: black; */
  text-decoration: none;
}

[dark-theme="on"] {
  background-color: black;
  color: white !important;
}

[dark-theme="off"] {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

[dark-theme="on"] .a-tag-style, .item-description{
  color: white !important;
}

[dark-theme="off"] .a-tag-style, .item-description{
  color: black !important;
}

[dark-theme="on"] {
  background-color: black;
  color: white !important;
}

[dark-theme="off"] .billing-details-secton{
  background-color: #f7f7f7;
}
[dark-theme="on"] .billing-details-secton{
  background-color: #2e2e2e;
}