.App {
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  line-height: 1.5;
}

.a-tag-style{
  /* color: black; */
  text-decoration: none;
}

[dark-theme="on"] {
  background-color: black;
  transition: background-color 2s;
  color: white !important;
}

[dark-theme="off"] {
  background-color: rgb(255, 255, 255);
  transition: background-color 2s;
  color: rgb(0, 0, 0);
}

[dark-theme="on"] .a-tag-style, .item-description{
  color: white !important;
}

[dark-theme="off"] .a-tag-style, .item-description{
  color: black !important;
}

[dark-theme="off"] .billing-details-secton{
  background-color: #f7f7f7;
  transition: background-color 2s;
}
[dark-theme="on"] .billing-details-secton{
  background-color: #2e2e2e;
  transition: background-color 2s;
}
[dark-theme="on"] .food-cat-name{
  color: black;
}

[dark-theme="on"] .food-category-buttons .btn:hover{
  border: 2px solid rgb(219, 219, 219);
  color: rgb(255, 255, 255);
}

[dark-theme="on"] .combo-carousel-arrow{
  color: #ffffff !important;
}
[dark-theme="on"] .sort-by-btn{
  color: rgb(231, 157, 255) !important;
}

.error-page-msg-section{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 50px;
}
.error-page-msg-section .btn-primary{
  max-width: 350px;
}
.sad-face-icon img{
  height: 130px;
  width: 130px;
  margin-bottom: 15px;
}

body:has([show-modal="show"]){
  overflow-y: hidden !important;
}